<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tanmay.quill-menubar</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tanmayshah/.local/bin/uv</string>
		<string>run</string>
		<string>--project</string>
		<string>/Users/tanmayshah/Desktop/Quill</string>
		<string>python</string>
		<string>-m</string>
		<string>quill.menubar</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/quill-menubar.log</string>
</dict>
</plist>
